
# Sistemas Operativos
.DS_Store
Thumbs.db
desktop.ini

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editores
.vscode/
.idea/
*.swp
*.swo

# Node (si decides expandir el proyecto a futuro)
node_modules/
dist/
.env
